.icon-button {
    --size: 40px;
    min-width: var(--size);
    height: var(--size);
    cursor: pointer;
  }
  
  .icon-button.left,
  .icon-button.left.disable {
    background: url('../../../Image/arrow_left.svg') center / 100% 100% no-repeat;
  }
  .icon-button.right,
  .icon-button.right.disable {
    background: url('../../../Image/arrow_right.svg') center / 100% 100% no-repeat;
  }
  .icon-button.left.disable,
  .icon-button.right.disable {
    pointer-events: none;
    background: none;
  }