.basket_page_container {
    padding:20px 80px;
}

.hotels_basket_container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: transparent;
    background-color:rgb(43, 43, 43);
    border-radius: 20px;
    padding:30px;
    margin:0 70px;
    color:white;
}

.link_dates_container{
    display:flex;
    flex-direction: row;
    gap:40px;
}

.basket_hotel_redirect{
    width:400px;
    height:250px;
    background-position: center;
    background-size: cover;
}

.buttons_handlers_container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.payment_block{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.pay_p{
    margin:0;
    font-size: 30px;
}

.basket_name_container{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.basket_name_button{
    background-color:rgb(43, 43, 43);
    color:white;
}

.basket_name_button:hover{
    background-color: rgb(75, 75, 75);
    color:white;
}