.tour_page_container{
    padding:1px;
    background-color:rgb(43, 43, 43);
}

.tour_main_container {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
    align-self: flex-start;
    padding: 0px 40px;
  }
  
.search_filter_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
    width: 100%;
    margin-top: 20px;
}

.filter_btn{
    padding: 10px 15px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter_btn:hover{
    background-color: rgb(78, 78, 78);
    color: white;
}

.search{
    border: 3px solid rgb(117, 117, 117); 
    height:fit-content;
    width:50%;
    border-radius:10px;
    padding:5px;
    font-size: 15px;
}

.search:hover{
    background-color: rgb(207, 207, 207);
}

.search:focus{
    outline:none;
}

.filter_tours_container {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
}
  

.filters_panel {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}  

.category_buttons{
    margin-left:15px;
}
  
.grid-container {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    width: 100%;
    margin:50px;
}

.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.grid-item {
    border: 3px solid white;
    border-radius: 20px;
    min-height: 400px;
    width:300px;
    display:flex;
    align-items: flex-end;
    color:white;
    transition: transform 0.5s ease, z-index 0.5s ease;
    position: relative;
}

.grid-item:hover {
    transform: scale(1.1);
    z-index: 1;
}

.tour_main_info {
    background-color: rgb(43, 43, 43, 0.5);
    border-radius: 15px;
    width:100%;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}

.tour_details {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.grid-item:hover .tour_details {
    display: block;
    opacity: 1;
}


a{
    text-decoration: none;
    color:white;
}

.tour_name{
    font-size:40px;
    margin: 10px 15px;
}

.tour_price{
    font-size:30px;
    margin:0;
}

.price_button_tour{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    padding:10px;
    justify-content: space-between;
}
  
.tour_rating{
    font-size: 25px;
    margin:0;
}

.sort-options {
    position: absolute;
    display:flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

.sorted_text{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:8px;
}

.sorted_text_text{
    padding:0;
    margin:0;
    font-size: 15px;
}

.sorted_text_text_b{
    padding:0;
    margin:0px 5px 0px 0px;
    font-size: 18px;
    cursor:pointer;
}

.page_container{
    display:flex;
    width:100%;
    font-size: 26px;
    color:white;
    justify-content: center;
    margin:20px;
}