.tour_page_container{
    padding:1px;
    background-color:rgb(43, 43, 43);
}

.tour_main_container {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
    align-self: flex-start;
    padding: 0px 40px;
  }
  
.search_filter_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
    width: 100%;
    margin-top: 20px;
}

.filter_btn{
    padding: 10px 15px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter_btn:hover{
    background-color: rgb(78, 78, 78);
    color: white;
}

.search{
    border: 3px solid rgb(117, 117, 117); 
    height:fit-content;
    width:50%;
    border-radius:10px;
    padding:5px;
    font-size: 15px;
}

.search:hover{
    background-color: rgb(207, 207, 207);
}

.search:focus{
    outline:none;
}

.filter_tours_container {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
}
  

.filters_panel {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: white;
}  

.category_buttons{
    margin-left:15px;
}
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.grid-item img{
    width: 101%;
    height: 101%;
    object-fit: cover;
    object-position: center -1px;
}

.grid-item {
    border: 3px solid white;
    border-radius: 20px;
    margin: 25px;
    min-height: 400px;
    display:flex;
    align-items: flex-end;
    color:white;
}

.tour_main_info {
    background-color: rgb(43, 43, 43, 0.5);
    border-radius: 15px;
    width:100%;
}


a{
    text-decoration: none;
    color:white;
}

.tour_name{
    font-size:40px;
    margin:0;
}

.tour_price{
    font-size:30px;
    margin:0;
}

.price_button_tour{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
    justify-content: space-between;
}
  
.tour_rating{
    font-size: 25px;
}